fastapi==0.115.6
firebase-admin==6.6.0
firebase-functions==0.1.2
Flask==3.1.0
functions-framework==3.8.2
jsonschema==4.23.0
openpecha @ git+https://github.com/OpenPecha/toolkit-v2.git@7cd0d79b21e8b91a1467b4fccaaf908f9c4997b1