firebase-admin==6.6.0
firebase-functions==0.4.2
Flask==3.1.0
functions-framework==3.8.2
jsonschema==4.23.0
mock-firestore-plus==0.12.0
openpecha @ git+https://github.com/OpenPecha/toolkit-v2.git@157f9a5c376589bb763f59d9bbf1527a00bd7874
google-cloud-logging==3.11.4