[tool.pyright]
pythonVersion = "3.13"
typeCheckingMode = "standard"
exclude = ["tests", "venv", ".venv"]
include = ["functions"]
venvPath = "functions"
venv = "venv"

[tool.pytest.ini_options]
testpaths = ["functions/tests"]
pythonpath = ["functions"]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]
addopts = "--verbose --log-cli-level=DEBUG"
env_files = ["functions/.env"]

[tool.coverage.run]
omit = [
    "functions/tests/*",
    "functions/scripts/*",
    "functions/firebase_config.py",
]

[tool.ruff]
line-length = 120
exclude = ["functions/tests"]
target-version = "py313"

[tool.ty.environment]
root = ["./functions"]

[tool.ty.src]
exclude = ["functions/tests/"]

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "D",
    "COM812",  # Trailing comma missing
    "TRY003",
    "EM101",
    "EM102",
    "C901",
    "TD",
    "PLR2004", # Magic value used in comparison
    "PLR0911", # Too many return statements
    "PLR0913",  # Too many arguments in function definition
]

