[tool.pyright]
pythonVersion = "3.12"
typeCheckingMode = "standard"
exclude = ["tests", "venv", ".venv"]
include = ["functions"]
venvPath = "functions"
venv = "venv"

[tool.pytest.ini_options]
testpaths = ["functions/tests"]
pythonpath = ["functions"]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]
addopts = "--verbose --log-cli-level=DEBUG"

[tool.ruff]
line-length = 120
exclude = ["functions/tests"]
target-version = "py312"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "PLR0913",  # Too many arguments in function definition
    "D",
    "COM812",  # Trailing comma missing
    "TRY003",
    "EM101",
    "EM102",
    "C901",
    "TD",
    "PLR2004", # Magic value used in comparison
]
