name: Run tests

on:
  push:
    branches:
      - '**'  # Runs on push to any branch
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          cd functions
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt -r requirements_dev.txt

      - name: Run pytest
        run: |
          cd functions
          source venv/bin/activate
          pytest
